# API Application Environment Variables
# Copy to apps/api/.env.local

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cm
DATABASE_URL=postgresql://user:password@host.neon.tech/neondb?sslmode=require
CLERK_SECRET_KEY=sk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_AXIOM_TOKEN=xaat-...
NEXT_PUBLIC_AXIOM_DATASET=orion-kit
